/* GLOBAL STYLING  */

* {
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", Arial, sans-serif;
  background-color: #f4f4f9;
  background-image: url(../img/galaxy.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

/* BUTTON STYLING  */

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.025);
}

button:active {
  transform: scale(0.975);
}

/* FORM STYLING */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 80%;
  margin: 2em auto;
  padding: 2em;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #4caf50;
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5rem;
  color: #4caf50;
}

p {
  margin-bottom: 1em;
  color: #333;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #555;
}

.form-element {
  width: 100%;
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.75em;
}

form {
  min-width: 300px;
}

aside {
  width: 100%;
}

aside address {
  margin-top: 1em;
}

fieldset {
  margin-bottom: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4caf50;
}

.abducted-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.abducted-quantity input {
  width: 100px;
  text-align: center;
  margin-right: 1.3em;
}

@media (min-width: 1000px) {
  .wrapper {
    flex-wrap: nowrap;
  }

  section {
    width: 65%;
  }

  aside {
    width: 35%;
  }
}
